<!DOCTYPE HTML>
{% load static %}
<html>

<head>
    <title>Relation Similarity</title>
    
    <link rel="StyleSheet" href="{% static 'css/display.css' %}" type="text/css" />

	<!-- jQuery -->
	<script src="{% static 'js/jquery.min.js' %}"></script>

</head>

<body>

<h2>Some helper tools</h2>
<h3>Check keywords cosine distance</h3>
<div>
    <input type="text" placeholder="keyword1" id="keyword_1" />
    <input type="text" placeholder="keyword2" id="keyword_2" />
    <button type="button" id="cal_similarity">get cosine distance</button>
</div>

<div id="cosine_dist_display"></div>

<br>
<br>

<h3>View result of Co-occur keywords and semantic-related keywords</h3>
<div>
    <input type="text" placeholder="Sentence you want to analysis" id="sent" />
    <button type="button" id="sent_analysis">Analyze sentence</button>
</div>

<div id="sent_analysis_display"></div>

<br>
<br>

<h3>Check semantic-related examples</h3>
<div>
    <input type="text" id="semantic_relation_num" placeholder="The number of top frequent semantic relation" />
    <button type="button" id="search_top_freq_relation">Search relation</button>
</div>

<div id="search_top_freq_relation_display"></div>

<div>
    <input type="text" id="wanted_relation" placeholder="The semantic relation to check out" />
    <input type="text" id="wanted_relation_num" placeholder="The number of examples" />
    <button type="button" id="search_relation_example">Search relation</button>
</div>

<div id="search_relation_example_display"></div>

<br>
<br>

<h2>Input Your Central Keyword</h2>

<div>
    <input type="text" placeholder="Central Keyword" id="central_keyword" />
</div>
<div>
    <select id="pair_set">
        <option value ="co_occur">Co-occur</option>
        <option value ="semantic_related">Semantic-related</option>
    </select>
    <input type="text" placeholder="Count Threadhold" id="cnt_threshold" />
    <input type="text" placeholder="NPMI Threadhold" id="npmi_threshold" />
</div>
<div>
    <input type="text" placeholder="k" id="k" />
</div>
<button type="button" id="search" >Search</button>

<div id="cluster_display"></div>


<script>

	$('#search').click(function(){
		$.ajax({
			'url':'/search/',
			'data':{
                "central_keyword":$("#central_keyword").val(),
                "pair_set":$('#pair_set').val(),
                "cnt_threshold":$('#cnt_threshold').val(),
                "npmi_threshold":$('#npmi_threshold').val(),
                "k":$('#k').val(),
			},
			'success' :function(ret){
				if (ret["status"]){
                    clusters = ret["clusters"];
                    str = "<p><font color='red'>Silhouette Score: " + ret["score"] + "</font></p>";
                    for (var cluster_id = 0; cluster_id < clusters.length; cluster_id++){
                        if (cluster_id == clusters.length - 1){
                            str += "<p>Discrete Points:</p><p>";
                        }else{
                            str += "<p>Cluster " + cluster_id + ":</p><p>";
                        }
                        for (var idx in clusters[cluster_id]){
                            str += clusters[cluster_id][idx];
                            str += ",&nbsp;"
                        }
                        str += "</p>"
                    }
					$('#cluster_display')[0].innerHTML = str;
				} else {
					$('#cluster_display')[0].innerHTML = '<p>The keyword does not exist.</p>';
				}
			}
		});
	});

    $('#cal_similarity').click(function(){
		$.ajax({
			'url':'/cal_similarity/',
			'data':{
                "keyword_1":$("#keyword_1").val(),
                "keyword_2":$('#keyword_2').val(),
			},
			'success' :function(ret){
				if (ret["status"]){
                    distance = ret["distance"];
                    str = "<p>Cosine Distance between " + $("#keyword_1").val() + " and " + $("#keyword_2").val() + " is " + distance + "</p>";
					$('#cosine_dist_display')[0].innerHTML = str;
				} else {
					$('#cosine_dist_display')[0].innerHTML = '<p>The keyword does not exist.</p>';
				}
			}
		});
	});

    $('#sent_analysis').click(function(){
        sent = $("#sent").val();
		$.ajax({
			'url':'/sent_analysis/',
			'data':{
                "sent":sent,
			},
			'success' :function(ret){
				if (ret["status"]){
                    co_occur_kw = ret["co_occur_kw"];
                    semantic_related_kw = ret["semantic_related_kw"];
                    str = "<p>Co-occur keywords:</p>";
                    str += "<p>";
                    word_tokens = sent.split(" ");
                    console.log(co_occur_kw);
                    console.log(word_tokens);
                    for(var i in word_tokens){
                        if(co_occur_kw.indexOf(Number(i)) >= 0){
                            str += "<font color='red'>" + word_tokens[i] + "</font> ";
                        }else{
                            str += word_tokens[i] + " ";
                        }
                    }
                    str += "</p>";
                    str += "<p>Semantic-related keywords:</p>";
                    str += "<p>";
                    semantic_related_kw.forEach(element => {
                        for(var i in word_tokens){
                            if(Number(i) == element[0]){
                                str += "<font color='red'>" + word_tokens[i] + "</font> ";
                            }else if(Number(i) == element[1]){
                                str += "<font color='blue'>" + word_tokens[i] + "</font> ";
                            }else{
                                str += word_tokens[i] + " ";
                            }
                        }
                        str += "<font color='green'>" + element[2] + "</font><br>";
                    });
                    str += "</p>"
                    $('#sent_analysis_display')[0].innerHTML = str;
				} else {
					$('#sent_analysis_display')[0].innerHTML = '<p>The keyword does not exist.</p>';
				}
			}
		});
	});

    $('#search_top_freq_relation').click(function(){
        console.log($("#semantic_relation_num").val());
		$.ajax({
			'url':'/search_relation/',
			'data':{
                "relation_count":$("#semantic_relation_num").val(),
			},
			'success' :function(ret){
				if (ret["status"]){
                    str = "<p>";
                    relations = ret["relations"];
                    relations.forEach(element => {
                        str += element[0] + "(" + element[1] + "),&nbsp;";
                    });
                    str += "</p>";
                    $('#search_top_freq_relation_display')[0].innerHTML = str;
				} else {
					$('#search_top_freq_relation_display')[0].innerHTML = '<p>ERROE</p>';
				}
			}
		});
	});

    $('#search_relation_example').click(function(){
		$.ajax({
			'url':'/get_sent_by_relation/',
			'data':{
                "relation":$("#wanted_relation").val(),
                "count":$("#wanted_relation_num").val(),
			},
			'success' :function(ret){
				if (ret["status"]){
                    str = "<p>";
                    sents_kws = ret["sents_kws"];
                    sents_kws.forEach(element => {
                        word_tokens = element[0].split(" ");
                        for(var i in word_tokens){
                            if(Number(i) == element[1]){
                                str += "<font color='red'>" + word_tokens[i] + "</font> ";
                            }else if(Number(i) == element[2]){
                                str += "<font color='blue'>" + word_tokens[i] + "</font> ";
                            }else{
                                str += word_tokens[i] + " ";
                            }
                        }
                        str += "<font color='green'>" + element[3] + "</font><br>";
                    });
                    str += "</p>"
                    $('#search_relation_example_display')[0].innerHTML = str;
				} else {
					$('#search_relation_example_display')[0].innerHTML = '<p>The relation does not exist.</p>';
				}
			}
		});
	});

</script>

</body>

</html>