<!DOCTYPE HTML>
{% load static %}
<html>

<head>
    <title>Relation Similarity</title>
    
    <link rel="StyleSheet" href="{% static 'css/display.css' %}" type="text/css" />

	<!-- jQuery -->
	<script src="{% static 'js/jquery.min.js' %}"></script>

    <style>
        .wrap{
            width:1500px;
            margin:0 auto;
            position: relative;
        }
        #left{
            width:700px;
            word-wrap:break-word;
            word-break:normal;
            background: #ccffff;
            position: absolute;
            top:0;
            left:0;
        }
        #right{
            width:700px;
            word-wrap:break-word;
            word-break:normal;
            background: #ffcccc;
            position: absolute;
            top:0;
            right:0;
        }
    </style>

</head>

<body>

<h2>Some helper tools</h2>
<h3>Check keywords cosine distance</h3>
<div>
    <input type="text" placeholder="keyword1" id="keyword_1" />
    <input type="text" placeholder="keyword2" id="keyword_2" />
    <button type="button" id="cal_similarity">get cosine distance</button>
</div>

<div id="cosine_dist_display"></div>

<br>
<br>

<h3>View result of Co-occur keywords and semantic-related keywords</h3>
<div>
    <input type="text" placeholder="Sentence you want to analysis" id="sent" />
    <button type="button" id="sent_analysis">Analyze sentence</button>
</div>

<div id="sent_analysis_display"></div>

<br>
<br>

<h3>Check semantic-related examples</h3>
<div>
    <input type="text" id="semantic_relation_num" placeholder="The number of top frequent semantic relation" />
    <button type="button" id="search_top_freq_relation">Search relation</button>
</div>

<div id="search_top_freq_relation_display"></div>

<div>
    <input type="text" id="wanted_relation" placeholder="The semantic relation to check out" />
    <input type="text" id="wanted_relation_num" placeholder="The number of examples" />
    <button type="button" id="search_relation_example">Search relation</button>
</div>

<div id="search_relation_example_display"></div>

<br>
<br>

<h2>Input Your Central Keyword</h2>

<div>
    <input type="text" placeholder="Central Keyword" id="central_keyword" />
</div>
<div>
    <input type="text" placeholder="k" id="k" />
    <button type="button" id="search" >Search</button>
</div>

<div class="wrap">
    <section id="left">
        <h3>Pair Embedding Result</h3>
        <div id="cluster_display_pair_embed"></div>
    </section>
    <section id="right">
        <h3>Dependency-Based Embedding Result</h3>
        <div id="cluster_display_base_embed"></div>
    </section>
</div>

<div>
    <input type="text" placeholder="related keyword" id="related_keyword" />
    <input type="text" placeholder="top n similar pairs" id="similar_pair_num" />
    <button type="button" id="search_similar_pair" >Search similar pairs</button>
</div>

<script>

    $('#search').click(function(){
		$.ajax({
			'url':'/search/',
			'data':{
                "central_keyword":$("#central_keyword").val(),
                "k":$('#k').val(),
			},
			'success' :function(ret){
				if (ret["status"]){
                    clusters_pair = ret["clusters_pair"];
                    str = "<p><font color='red'>Silhouette Score: " + ret["score"] + "</font></p>";
                    for (var cluster_id = 0; cluster_id < clusters_pair.length; cluster_id++){
                        if (cluster_id == clusters_pair.length - 1){
                            str += "<p>Discrete Points:</p><p>";
                        }else{
                            str += "<p>Cluster " + cluster_id + ":</p><p>";
                        }
                        for (var idx in clusters_pair[cluster_id]){
                            str += clusters_pair[cluster_id][idx];
                            str += ",&nbsp;";
                        }
                        str += "</p>"
                    }
					$('#cluster_display_pair_embed')[0].innerHTML = str;

                    clusters_base = ret["clusters_base"];
                    str = "<p><font color='red'>Silhouette Score: " + ret["score"] + "</font></p>";
                    for (var cluster_id = 0; cluster_id < clusters_base.length; cluster_id++){
                        if (cluster_id == clusters_base.length - 1){
                            str += "<p>Discrete Points:</p><p>";
                        }else{
                            str += "<p>Cluster " + cluster_id + ":</p><p>";
                        }
                        for (var idx in clusters_base[cluster_id]){
                            str += clusters_base[cluster_id][idx];
                            str += ",&nbsp;";
                        }
                        str += "</p>"
                    }
					$('#cluster_display_base_embed')[0].innerHTML = str;
				} else {
					$('#cluster_display')[0].innerHTML = '<p>The keyword does not exist.</p>';
				}
			}
		});
	});

    $('#search_similar_pair').click(function(){
		$.ajax({
			'url':'/search_similar_pair/',
			'data':{
                "central_keyword":$("#central_keyword").val(),
                "similar_pair_num":$("#similar_pair_num").val(),
                "related_keyword":$('#related_keyword').val(),
			},
			'success' :function(ret){
				if (ret["status"]){
                    similar_pairs = ret["similar_pairs"];
                    str = "<p>Similar Pairs:</p><p>";
                    
                    similar_pairs.forEach(element => {
                        str += element;
                        str += "<br>";
                    });
                    str += "</p>"
					$('#cluster_display')[0].innerHTML = str;
				} else {
					$('#cluster_display')[0].innerHTML = '<p>The pair does not exist.</p>';
				}
			}
		});
	});

    $('#cal_similarity').click(function(){
		$.ajax({
			'url':'/cal_similarity/',
			'data':{
                "keyword_1":$("#keyword_1").val(),
                "keyword_2":$('#keyword_2').val(),
			},
			'success' :function(ret){
				if (ret["status"]){
                    distance = ret["distance"];
                    str = "<p>Cosine Distance between " + $("#keyword_1").val() + " and " + $("#keyword_2").val() + " is " + distance + "</p>";
					$('#cosine_dist_display')[0].innerHTML = str;
				} else {
					$('#cosine_dist_display')[0].innerHTML = '<p>The keyword does not exist.</p>';
				}
			}
		});
	});

    $('#sent_analysis').click(function(){
        sent = $("#sent").val();
		$.ajax({
			'url':'/sent_analysis/',
			'data':{
                "sent":sent,
			},
			'success' :function(ret){
				if (ret["status"]){
                    co_occur_kw = ret["co_occur_kw"];
                    semantic_related_kw = ret["semantic_related_kw"];
                    str = "<p>Co-occur keywords:</p>";
                    str += "<p>";
                    word_tokens = sent.split(" ");
                    console.log(co_occur_kw);
                    console.log(word_tokens);
                    for(var i in word_tokens){
                        if(co_occur_kw.indexOf(Number(i)) >= 0){
                            str += "<font color='red'>" + word_tokens[i] + "</font> ";
                        }else{
                            str += word_tokens[i] + " ";
                        }
                    }
                    str += "</p>";
                    str += "<p>Semantic-related keywords:</p>";
                    str += "<p>";
                    semantic_related_kw.forEach(element => {
                        for(var i in word_tokens){
                            if(Number(i) == element[0]){
                                str += "<font color='red'>" + word_tokens[i] + "</font> ";
                            }else if(Number(i) == element[1]){
                                str += "<font color='blue'>" + word_tokens[i] + "</font> ";
                            }else{
                                str += word_tokens[i] + " ";
                            }
                        }
                        str += "<font color='green'>" + element[2] + "</font><br>";
                    });
                    str += "</p>"
                    $('#sent_analysis_display')[0].innerHTML = str;
				} else {
					$('#sent_analysis_display')[0].innerHTML = '<p>The keyword does not exist.</p>';
				}
			}
		});
	});

    $('#search_top_freq_relation').click(function(){
        console.log($("#semantic_relation_num").val());
		$.ajax({
			'url':'/search_relation/',
			'data':{
                "relation_count":$("#semantic_relation_num").val(),
			},
			'success' :function(ret){
				if (ret["status"]){
                    str = "<p>";
                    relations = ret["relations"];
                    relations.forEach(element => {
                        str += element[0] + "(" + element[1] + "),&nbsp;";
                    });
                    str += "</p>";
                    $('#search_top_freq_relation_display')[0].innerHTML = str;
				} else {
					$('#search_top_freq_relation_display')[0].innerHTML = '<p>ERROE</p>';
				}
			}
		});
	});

    $('#search_relation_example').click(function(){
		$.ajax({
			'url':'/get_sent_by_relation/',
			'data':{
                "relation":$("#wanted_relation").val(),
                "count":$("#wanted_relation_num").val(),
			},
			'success' :function(ret){
				if (ret["status"]){
                    str = "<p>";
                    sents_kws = ret["sents_kws"];
                    sents_kws.forEach(element => {
                        word_tokens = element[0].split(" ");
                        for(var i in word_tokens){
                            if(Number(i) == element[1]){
                                str += "<font color='red'>" + word_tokens[i] + "</font> ";
                            }else if(Number(i) == element[2]){
                                str += "<font color='blue'>" + word_tokens[i] + "</font> ";
                            }else{
                                str += word_tokens[i] + " ";
                            }
                        }
                        str += "<font color='green'>" + element[3] + "</font><br>";
                    });
                    str += "</p>"
                    $('#search_relation_example_display')[0].innerHTML = str;
				} else {
					$('#search_relation_example_display')[0].innerHTML = '<p>The relation does not exist.</p>';
				}
			}
		});
	});

</script>

</body>

</html>