<!DOCTYPE HTML>
{% load static %}
<html>

<head>
	<title>Destroydrop &raquo; Javascripts &raquo; Tree</title>

	<link rel="StyleSheet" href="{% static 'css/dtree.css' %}" type="text/css" />
	<!-- jQuery -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/dtree.js' %}"></script>

</head>

<body>

<h2>Input Your Central Keyword</h2>

<div>
	<input type="text" placeholder="Central Keyword" id="central_keyword" />
	<button type="button" id="search_central_keyword" >Search</button>
</div>

<div class="dtree" id="tree_display"></div>

<div id="cluster_display"></div>


<script>

	objName = 'd';

	d = new dTree(objName);

	node_cnt = 0;

	function add_node(pid, name, link, group_mem){
		d.add(node_cnt, pid, name, link, group_mem);
		node_cnt += 1;
		return node_cnt-1;
	}

	function add_folder(pid, name, group_mem){
		id = add_node(pid, name, 'javascript:void(0);', group_mem);
		add_node(id, 'fake_node');
		return id;
	}

	$('#search_central_keyword').click(function(){
		$.ajax({
			'url':'/init_ck/',
			'data':{
				"central_keyword":$("#central_keyword").val()
			},
			'success' :function(ret){
				if (ret["status"]){
					d = new dTree(objName);
					node_cnt = 0;
					add_node(-1, 'Tree Display for "' + ret["central_keyword"] + '"');
					add_folder(0, ret["central_keyword"]);
					$('#tree_display')[0].innerHTML = d.toString();
				} else {
					$('#tree_display')[0].innerHTML = '<p>The keyword does not exist.</p>';
				}
			}
		});
	});

	function search_topic_similar (id) {

		ai = parseInt(id.split(objName)[1]);

		if (!d.isOpen(ai)){

			tr_threshold = $("#t"+objName+ai+"_th1").val();
			fc_threshold = $("#t"+objName+ai+"_th2").val();
			central_keyword = $("#s"+objName+ai)[0].innerHTML;
			
			if (d.isThresholdChanged(ai, tr_threshold, fc_threshold)){
				d.storeThreshold(ai, tr_threshold, fc_threshold);
				$.ajax({
					'url':'/get_tr/',
					'data':{
						"central_keyword":central_keyword,
						"topic_related_threshold":tr_threshold,
						"function_cluster_threshold":fc_threshold,
					},
					'success' :function(ret){
						pid = d.removeNode(ai);
						if (ret["status"]){
							children = ret["children"];
							for (var child in children){
								// if (child == central_keyword) {
								// 	continue;
								// }
								add_folder(pid, child, children[child]);
							}
							$('#tree_display')[0].innerHTML = d.toString();
						} else {
							$('#tree_display')[0].innerHTML = '<p>The keyword does not exist.</p>';
						}
					}
				});
			}
		}

		d.o(ai);

	}

	function draw_cluster(ai) {

		str = d.get_cluster(ai);

		$('#cluster_display')[0].innerHTML = str;

		d.s(ai);

		return false;

	}

</script>

</body>

</html>